NEXT_PUBLIC_SUPABASE_URL=https://flhprdppldbztpppeali.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImZsaHByZHBwbGRienRwcHBlYWxpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzA5NjUzMTgsImV4cCI6MjA4NjU0MTMxOH0.DJHOtFuDgx0fxd4jzr6qWCgti3RwPX_QN75T-Ntssoo
